/* Hyperlink Styles */
a {
	color: #000000!important;
}

a:hover {
	color: #000000!important;	
}

/* Font Styles */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

#app {
	font-family: 'Open Sans';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.font-12-px {
    font-size: 12px;
}

.font-13-px {
    font-size: 13px;
}

.font-14-px {
    font-size: 14px;
}

.font-16-px {
    font-size: 16px;
}

.font-18-px {
    font-size: 18px;
}

.font-20-px {
    font-size: 20px;
}

.font-22-px {
    font-size: 22px;
}

.no-margin{
    margin: 0vw;
}

/* Form */
#title-div {
    margin-bottom: 40px;
}

form {
    max-width: 256px!important;
}

.form-group {
    margin: 20px 0!important;
}

input {
    width: 256px!important;
    border: 0!important;
    border-bottom: 1px solid black !important;
    border-radius: 0!important;
}

/* Submit Button */
#submit-button {
    padding: 0.5rem 7rem;
    background-color: #29ABE2!important;
    color: #ffffff!important;
    border-radius: 12px;
    margin-top: 30px;
}

#submit-button:hover {
    box-shadow: none;
    background-color: #42C1F6!important;
}

#submit-button:active {
    background-color: #257EB0!important;
}

/* Alignment */
.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 20px 0 60px 0;
  }

/* Cancel Button */
#cancel {
    margin: 0;
    bottom: 0; 
    left: 0;
    height: 50px;
    width: 100%;
    position: fixed;
    text-align: right;
    background-color: #ffffff;
}

/* Start Button */
#start-button {
    padding: 0.5rem 7rem;
    background-color: #ffffff!important;
    color: #000000!important;
    border-radius: 12px;
}

#start-button:focus {
    box-shadow: none;   
}

#start-button:active {
    background-color: #f2f2f2!important;
}

/* Menu Button Success Regis */
#menu-button {
    padding: 0.5rem;
    background-color: #ffffff;
    color: #000000;
    border-radius: 12px;
    font-size: 16px;
}

#menu-button:focus {
    box-shadow: none;   
}

#menu-button:active {
    background-color: #f2f2f2;
}

#regis-status-icon {
    width: 55vw;
    height: 55vw;
}

#regis-div{
    margin: 0.5rem 3rem 5rem 3rem;
}

/* Menu Button Failed Regis */
#retry-button {
    padding: 0.5rem;
    background-color: #2D9CDB;
    color: #ffffff !important;
    border-radius: 12px;
    font-size: 16px;
    width: 300px;
    margin: 1vw;
}

#retry-button:focus {
    box-shadow: none;   
}

#retry-button:active {
    background-color: #f2f2f2;
}

#regis-status-icon {
    width: 200px;
    height: 200px;
}

#regis-div{
    margin: 0.5rem 3rem 5rem 3rem;
}

#fail-menu-button{
    padding: 0.5rem;
    background-color: #56CCF2;
    color: #ffffff !important;
    border-radius: 12px;
    font-size: 16px;
    width: 300px;
    margin: 1vw;
}
